.container{
  padding: 15px;
  height: 100vh;
}

.container h1 {
  text-align: center;
}

.row {
  margin: 15px;
}

.card-body{
  display: flex;
  justify-content: space-between;
}

.d-flex{
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.5)
}
